<div
  class="dropzone"
  appDropZone
  (hovered)="toggleHover($event)"
  (dropped)="startUpload($event)"
  [class.hovering]="isHovering"
  *ngIf="!showSpinner && !downloadURL">
    <p>Перетягніть фото</p>
    <div class="file">
      <label
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
        for="upload"
        class="upload-label example-ripple-container file-label">
          <mat-icon aria-hidden="false">photo_camera</mat-icon>
          <span>або виберіть фото...</span>
      </label>
      <input id="upload" type="file" (change)="startUpload($event.target.files)"/>
    </div>
</div>

<mat-progress-spinner
  *ngIf="showSpinner"
  class="example-margin"
  [color]="spinnerColor"
  [mode]="mode"
  [value]="value">
</mat-progress-spinner>

<div *ngIf="downloadURL" class="image-wrapper">

  <img [src]="downloadURL" alt="" class="image-wrapper__img">

  <button mat-icon-button class="image-wrapper__btn" (click)="deletePhoto()">
    <mat-icon>close</mat-icon>
  </button>
</div>
