<div class="poem">

  <div class="poem__wrapper" *ngIf="poem">
    <div class="poem__wrapper--secondary">
      <div class="poem__img">
        <img [src]="poem.poemImage" alt="">
      </div>

      <div class="poem__text">
        <div>{{ poem.poemText }}</div>
      </div>

      <div class="poem__navigation">
        <button
          *ngIf="user && user.isAdmin"
          class="poem__navigation__menu-btn"
          mat-icon-button
          [matMenuTriggerFor]="menu">

          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onEditPoem(poem)">
              <mat-icon>edit</mat-icon>
              <span>Edit poem</span>
            </button>
            <button mat-menu-item (click)="onDeletePoem(poem)">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete poem</span>
            </button>
        </mat-menu>
      </div>
    </div>

    <div>
      <div class="poem__bottom-navigation">
        <button
          *ngIf="user && user.isAdmin"
          class="poem__bottom-navigation__menu-btn"
          mat-icon-button
          [matMenuTriggerFor]="menu">

          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onEditPoem(poem)">
              <mat-icon>edit</mat-icon>
              <span>Edit poem</span>
            </button>
            <button mat-menu-item (click)="onDeletePoem(poem)">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete poem</span>
            </button>
        </mat-menu>

        <button mat-icon-button (click)="onAddLike(poem, user)">
          <mat-icon [matBadge]="likes?.length" matBadgeColor="warn" [matBadgeHidden]="likes?.length == 0">
            {{ isPoemLiked ? 'favorite' : 'favorite_border' }}
          </mat-icon>
        </button>

        <button mat-icon-button (click)="showAddComment()">
          <mat-icon *ngIf="!isCommentsShown" [matBadge]="comments?.length" matBadgeColor="warn" [matBadgeHidden]="comments?.length == 0">chat_bubble_outline</mat-icon>
          <mat-icon *ngIf="isCommentsShown" [matBadge]="comments?.length" matBadgeColor="warn" [matBadgeHidden]="comments?.length == 0">insert_comment</mat-icon>
        </button>
      </div>

      <div class="poem__comments-and-likes-section">
        <div class="poem__comments-and-likes-section__likes" *ngIf="likes?.length > 0">
          <span class="poem__comments-and-likes-section__likes--liked-by">Liked by</span>
          <button
            mat-icon-button
            [matTooltip]="like?.userName"
            matTooltipPosition="above"
            *ngFor="let like of likes">

            <img class="poem__comments-and-likes-section__likes--photo" [src]="like?.userPhoto">
          </button>
        </div>

        <div class="poem__comments-and-likes-section__comments" >

          <mat-list>
            <mat-list-item *ngFor="let comment of comments">
              <img mat-list-icon [src]="comment?.userPhoto">

              <h4 mat-line class="user-name">{{comment.userName}}</h4>
              <p mat-line class="wrap"> {{comment.commentText}} </p>

              <button
                mat-icon-button
                class="delete-comment"
                *ngIf="(user && user.isAdmin) || (user && comment?.userEmail == user?.email)"
                (click)="onDeleteComment(comment)">
                <mat-icon>close</mat-icon>
            </button>
            </mat-list-item>

            <mat-list-item class="textarea" *ngIf="isCommentsShown">

              <mat-form-field mat-line class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea
                  [(ngModel)]="comment"
                  matInput
                  #commentInput
                  placeholder="Ex. It makes me feel..."
                  matTextareaAutosize
                  matAutosizeMinRows="1"
                  matAutosizeMaxRows="2">
                </textarea>
              </mat-form-field>

              <button mat-icon-button class="send-button" (click)="onAddComment(poem, user)" [disabled]="commentInput.value.length == 0">
                <mat-icon>send</mat-icon>
              </button>

            </mat-list-item>
          </mat-list>

        </div>
      </div>

    </div>
  </div>

</div>
