mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.mat-toolbar.mat-primary {
  background-color: rgba(255, 255, 255, 0.95);
  color: #000000;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.user-photo {
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

.app-logo {
  cursor: pointer;
}
