<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/poems" class="app-logo">poetryApp</span>

    <span class="example-spacer"></span>

    <button mat-button (click)="login()" *ngIf="!user">Log in</button>

    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" *ngIf="user">
      <img class="user-photo" [src]="user.photoURL">
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="user && user.isAdmin" (click)="onAddNewPoemDialogOpen()">Add poem</button>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
