.poems {
  padding: 20px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/background.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0px 0px 20px 5px;

  @media (max-width: 768px) {
    background-size: 100%;
    max-height: 200px;
  }
}

.hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  color: white;

  @media (max-width: 768px) {
    justify-content: flex-start;
  }

  &--primary {
    margin: 0;
    font-size: 30px;
    display: inline-block;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: #7b7a7a !important;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #7b7a7a;
      color: white;
    }
  }
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: transparent !important;
}

mat-sidenav {
  width: 200px;
}
