/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.sticky {
  background: white;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  height: 56;
  position: fixed;
  top: 0;
  transition: .6s;
  width: 100%;
  z-index: 1;

  .mat-toolbar {
    color: black !important;
  }
}

.mat-dialog-container {
  background-color: rgba(134, 134, 134, 0.73);
  border-radius: 10px;
  margin: 0 auto !important;
  width: 95% !important;
}

textarea {
  border: 0;
  width: 100%;
}
